<div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
  Creative Tim
</a></div>
<div class="sidebar-wrapper">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/custDash">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/custProfile">
      <i class="material-icons">person</i>
      <p>User Profile</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/custEvent">
      <i class="material-icons">event_available</i>
      <p>Events Offered</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/custCart">
      <i class="material-icons">shopping_cart</i>
      <p>Cart</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/custPurchase">
      <i class="material-icons">credit_card</i>
      <p>Purchased</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/logout">
      <i class="material-icons">exit_to_app</i>
      <p>Log Out</p>
    </a>
  </li>
</ul>
</div>
</div>